@{
    var showProfile = (string)ViewContext.RouteData.Values["action"] == "HomepageAdmin"
    || (string)ViewContext.RouteData.Values["action"] == "HomePageInstructor"
    || (string)ViewContext.RouteData.Values["action"] == "HomePageLearner";
}
<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/HomePage/landing_page.css">
<link rel="stylesheet" href="~/css/HomePage/homePage.css">
<header class="container-fluid sticky-header" style="background-color: white;">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("HomepageAdmin", "HomePageAdmin")">
                <img src="~/lib/img/Login/BrainStormEra_logo.png" alt="BrainStormEra Logo" class="logo_img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("HomepageAdmin", "HomePageAdmin")">DASHBOARD</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CourseAcceptance", "Course")">COURSE</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="@Url.Action("UpdateManagement", "Points")">PAYMENT</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AdminAchievements", "Achievement")">ACHIEVEMENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConversationHistory", "Chatbot")">CHATBOT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ViewUsers", "ManageProfile")">USER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Ranking", "Ranking")">RANKING</a>
                    </li>
                </ul>
                @if (showProfile)
                {
                    <div class="profile d-flex align-items-center">
                        <i class="fas fa-bell icon" id="notificationIcon" data-bs-toggle="modal"
                            data-bs-target="#notificationsModal"></i>
                        @* <a href="@Url.Action("Index", "Profile")">
                            <img src="@ViewBag.UserPicture" alt="Profile Picture"
                                onerror="this.onerror=null;this.src='~/lib/img/User-img/default_user.png';" class="user_img"
                                style="width: 40px; height: 40px; border-radius: 50%;">
                        </a> *@
                        @* <span class="d-none d-md-inline">@ViewBag.FullName</span> *@
                        @* <i class="fas fa-chevron-down d-none d-md-inline" aria-hidden="true"></i> *@
                        <a href="#" onclick="confirmLogout()" class="d-flex align-items-center" aria-label="Logout">
                            <i class="fa-solid fa-arrow-right-from-bracket exit_icon" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>
